.fullEventList {
    display: inline-block;
    border: 0.3em solid black;
    width: 100%;
    background:rgba(255,255,255,0.5);
}

 .eventUlList {
    padding: 0;
    text-align: left;
    overflow: auto;
    font-size: 10px;
 }

 .eventListItem {
    line-height: 1.6;
 }

.mainTitle, .mainHours, .mainPay, mainStatus {
    font-weight: bold;
    display: inline-block;
    width: 10%;
    color: black
}

 .mainStatus{
    margin-right: 6%;
    font-weight: bold;
    color: black;
    float: right;
 }

 .titleSpan, .hoursSpan, .paySpan, .acceptButton {
    font-weight: bold;
    display: inline-block;
    width: 10%;
    color: black
 }

 .hoursSpan, .mainHours {
     padding-left: 15%;
 }

.paySpan, .mainPay {
    padding-left: 15%;
 }


 .acceptButton {
     float: right;
     margin-right: 5%;
     color: green;
     padding: 8px;
     border: 2px solid green;
     overflow: auto;
     border-radius: 7%;
     width: auto;
     transition: all 0.3s ease;
 }

 .acceptButton:hover {
    background-color: green;
    color: white;
    cursor: pointer;
 }

 @media (min-width: 900px) {
    .eventUlList {
        padding: 0;
        text-align: left;
        overflow: auto;
        font-size: 17px;
     }
}