.fullEventList {
    display: inline-block;
    border: 0.5em solid black;
    width: 100%;
}
 .eventUlList {
    padding: 0;
    text-align: left;
    overflow: auto;
 }

 .eventListItem {
    line-height: 1.6;
 }