.eventPostButton {
    margin: 1%;
    padding: 10px 52px 10px 52px;
    border-radius: 5%;
    width: auto;
    color:#5b5a55;
    border: 2px solid #5b5a55;
    overflow: auto;
    transition: all 0.3s ease;
}

.eventPostButton:hover {
    background-color: #5b5a55;
    color: white;
    cursor: pointer;
}