.loginPage {
    text-align: center;
    line-height: 1.6;
}

.registerLink, .landingLink {
    margin: 0.5%;
    text-decoration: none;
    color: green;
    font-weight: bold;
    text-decoration-line: underline;
}

.spacer {
    margin: 0%;
    color: black;
}
