.userHome {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

ul {
    list-style: none;
    padding: 0 25% 0 25%;
}

h2 {
    text-align: center;
}

.userLogoutLink {
    float: right;
}

.eventForm {
    text-align: center;
    margin-top: 100px;;
}