
.userPostedEvents {
    width: 100%;
    display: inline-block;
    border: 0.3em solid black;
    border-radius: 1%;
    overflow: auto;
    background:rgba(255,255,255,0.5);
}

.userAcceptedEvents {
    width: 100%;
    float: right;
    border: 0.3em solid black;
    border-radius: 1%;
    overflow: auto;
    background:rgba(255,255,255,0.5);
}

.userMainTitle, .userMainHours, .userMainPay, userMainStatus {
    font-weight: bold;
    display: inline-block;
    width: 15%;
    color: black;
}

.userTitleSpan, .userHoursSpan, .userPaySpan, .removeButton {
    font-weight: bold;
    display: inline-block;
    width: 15%;
    color: black;
 }

.userHoursSpan, .userMainHours {
    padding-left: 15%;
}

.userPaySpan, .userMainPay {
    padding-left: 15%;
 }

.userMainStatus{
    margin-right: 3%;
    font-weight: bold;
    color: black;
    float: right;
 }

.removeButton {
    float: right;
    color: #871c18;
    padding: 5px;
    border: 2px solid #871c18;
    overflow: auto;
    border-radius: 8%;
    width: auto;
}


.userEventListItem {
    line-height: 1.6;
}

h3 {
    text-align: center;
}

span {
    margin: 10px 0px 10px 15px;
}


@media (min-width: 325px) {
    .userPostedEvents, .userAcceptedEvents {
        width: 100%;
        overflow: auto;
        padding: 0;
    }
    .userAcceptedUl{
        font-size: 10px;

    }
    .userPostedUl{
        font-size: 10px;

    }

    .userMainTitle, .userMainHours, .userMainPay, userMainStatus {
        font-weight: bold;
        display: inline-block;
        width: 5%;
        color: black;
    }
    
    .userTitleSpan, .userHoursSpan, .userPaySpan {
        font-weight: bold;
        display: inline-block;
        width: 5%;
        color: black;
     }

     .removeButton {
        font-weight: bold;
        float: right;
        color:red;
        background-color: red;
        padding: 8px;
        border: 1px solid #871c18;
        overflow: auto;
        width: 1%;
        border-radius: 10%;
    }

    .removeButton:hover {
        background-color: red;
        color: red;
        cursor: pointer;
    }

    
    .userHoursSpan, .userMainHours {
        margin-left: 15%
    }
    
    .userPaySpan, .userMainPay {
        margin-left: 5%;
     }
    
    .userMainStatus{
        font-weight: bold;
        color: black;
        float: right;
     }
    

}

@media (min-width: 600px) {
    .userPostedEvents, .userAcceptedEvents {
        width: 100%;
        overflow: auto;
        padding: 0;
    }

    .userAcceptedUl{
        font-size: 13px;
    }
    .userPostedUl{
        font-size: 13px;
    }
    .removeButton {
        font-weight: bold;
        float: right;
        color: #871c18;
        padding: 8px;
        border: 1px solid #871c18;
        overflow: auto;
        width: auto;
        background-color: white;
        border-radius: 8%;
        transition: all 0.3s ease;
    }

    .removeButton:hover {
        background-color: #871c18;
        color: white;
        cursor: pointer;
    }


}

@media (min-width: 1080px) {
    .userPostedEvents, .userAcceptedEvents {
        width: 49.5%;
        overflow: auto;
        padding: 0;
    }

    .userAcceptedUl{
        font-size: 17px;
    }
    .userPostedUl{
        font-size: 17px;
    }
    .removeButton {
        font-weight: bold;
        float: right;
        color: #871c18;
        background-color: white;
        padding: 8px;
        border: 1px solid #871c18;
        overflow: auto;
        width: auto;
        border-radius: 8%;
        transition: all 0.3s ease;
    }

    .removeButton:hover {
        background-color: #871c18;
        color: white;
        cursor: pointer;
    }


}

