/* .userEventList {
    margin-left: 5px;
} */

.userPostedEvents {
    width: 100%;
    display: inline-block;
    border: 0.5em groove black;
    overflow: auto;
}

.userAcceptedEvents {
    width: 100%;
    float: right;
    border: 0.5em groove black;
    overflow: auto;
}

h3 {
    text-align: center;
}

span {
    margin: 10px 0px 10px 15px;
}


@media (min-width: 500px) {
    .userPostedEvents, .userAcceptedEvents {
        width: 50%;
        overflow: auto;
    }
}