* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* padding-right: 1.5%; */
  font-family: sans-serif;
}

.elementToFadeInAndOut {
  opacity: 0;
  animation: fade 2s linear;
}


@keyframes fade {
0%,100% { opacity: 0 }
50% { opacity: 1 }
}

html { 
  background: url('line.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

