.landingPage {
    width: 100%;
    
}

.landingLogoDiv {
    width: 10%;
    height: 10%;
    margin: auto;
    text-align: center;
    margin-bottom: 5%;
}

.landingLogoDiv img {
    max-width:100%;
    max-height:100%;
}